* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #252525;
}

p {
    font-family: sans-serif;
}

/*HEADER*/

header {
    height: 100px;
    width: 100%;

    text-align: center;

    background-color: #821515;
    color: rgb(191, 145, 7);
    position: fixed;
    
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    margin-top: 15px;

}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;

    transition: 0.3s;
}

nav a:hover {
    background-color: rgb(191, 145, 7);
    color: #821515;

    transform: scale(0.98);
    box-shadow: 0 0 0 3px rgb(36, 135, 211);
}

/*MAIN*/

main {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    overflow: auto;

    background-color: #621010;
}

/* footer */

footer {
    width: 100%;
    margin: 0 auto;

    padding: 10px;

    text-align: center;

    background-color: #1f1f1f;
    color: rgb(211, 162, 36);

    font-weight: bold;
}

/* album */
.intro-album{
    margin: 25px;
    padding: 25px;
    border-radius: 10px;
    transition: 0.3s;
    background-color: whitesmoke;
}

.intro-album h2 {
    margin-bottom: 15px;
    color: rgb(191, 145, 7);
}

.intro-album:hover {
    transform: scale(0.98);
    box-shadow: 0 0 0 3px rgb(211, 162, 36);

}

.galeria {
    margin: 25px;
    padding: 25px;
    border-radius: 10px;
    background-color: whitesmoke;

}

.galeria figcaption h2{
    margin-bottom: 15px;
    color: rgb(191, 145, 7);
}
/* resenha-fier */

.img-resenha {
    position: relative;
    display: inline-block;
}

.img-resenha img {
    transition: opacity 0.5s ease-in;
}

.img-resenha .img2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.img-resenha:hover .img1 {
    opacity: 0;
}

.img-resenha:hover .img2 {
    opacity: 1;
}
